[defaults]
inventory = inventory/homelab/hosts.yml
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
forks = 10
retry_files_enabled = False
stdout_callback = default
bin_ansible_callbacks = True
host_key_checking = False
playbook_vars_root = bottom
remote_tmp = ~/.ansible/tmp
local_tmp = /tmp/.ansible/local
vault_password_file = ~/.ansible/homelab-vault-pass

[privilege_escalation]
become = True
become_method = sudo
