[Unit]
Description=PostgreSQL backup
{% if homelab_failure_notify_enabled | default(false) | bool %}
OnFailure={{ homelab_failure_notify_unit_name | default('homelab-unit-failure@') }}%n.service
{% endif %}

[Service]
Type=oneshot
ExecStart={{ postgresql_backup_scripts_dir }}/postgresql-backup.sh
