[Unit]
Description=Application config backup
{% if homelab_failure_notify_enabled | default(false) | bool %}
OnFailure={{ homelab_failure_notify_unit_name | default('homelab-unit-failure@') }}%n.service
{% endif %}

[Service]
Type=oneshot
ExecStart={{ app_config_backup_scripts_dir }}/app-config-backup.sh
