APP_NAME=Invoice Ninja
APP_ENV={{ invoice_ninja_app_env }}
APP_KEY={{ invoice_ninja_app_key }}
APP_DEBUG={{ invoice_ninja_app_debug | ternary('true', 'false') }}
APP_URL={{ invoice_ninja_app_url }}
APP_TIMEZONE={{ invoice_ninja_timezone }}
IS_DOCKER=true

DB_CONNECTION=mysql
DB_HOST={{ invoice_ninja_db_service_name }}
DB_PORT=3306
DB_DATABASE={{ invoice_ninja_db_database }}
DB_USERNAME={{ invoice_ninja_db_user }}
DB_PASSWORD={{ invoice_ninja_db_password }}

MYSQL_ROOT_PASSWORD={{ invoice_ninja_db_root_password }}
MYSQL_DATABASE={{ invoice_ninja_db_database }}
MYSQL_USER={{ invoice_ninja_db_user }}
MYSQL_PASSWORD={{ invoice_ninja_db_password }}

CACHE_DRIVER={{ invoice_ninja_cache_driver }}
QUEUE_CONNECTION={{ invoice_ninja_queue_connection }}
SESSION_DRIVER={{ invoice_ninja_session_driver }}
REDIS_HOST={{ invoice_ninja_redis_service_name }}
REDIS_PORT=6379
{% if invoice_ninja_redis_password | length > 0 %}
REDIS_PASSWORD={{ invoice_ninja_redis_password }}
{% else %}
REDIS_PASSWORD=null
{% endif %}

MAIL_MAILER={{ invoice_ninja_mail_mailer }}
MAIL_HOST={{ invoice_ninja_mail_host }}
MAIL_PORT={{ invoice_ninja_mail_port }}
MAIL_USERNAME={{ invoice_ninja_mail_username }}
MAIL_PASSWORD={{ invoice_ninja_mail_password }}
MAIL_ENCRYPTION={{ invoice_ninja_mail_encryption }}
MAIL_FROM_ADDRESS={{ invoice_ninja_mail_from_address }}
MAIL_FROM_NAME="{{ invoice_ninja_mail_from_name }}"

REQUIRE_HTTPS={{ invoice_ninja_require_https | ternary('true', 'false') }}
TRUSTED_PROXIES={{ invoice_ninja_trusted_proxies }}

IN_USER_EMAIL={{ invoice_ninja_initial_user_email }}
IN_PASSWORD={{ invoice_ninja_initial_user_password }}
