DATANODE_IMAGE={{ graylog_datanode_image }}
GRAYLOG_IMAGE={{ graylog_image }}
GRAYLOG_ROOT_USERNAME={{ graylog_root_username }}
GRAYLOG_PASSWORD_SECRET={{ graylog_password_secret }}
GRAYLOG_ROOT_PASSWORD_SHA2={{ graylog_root_password_sha2 }}
GRAYLOG_TRANSPORT_EMAIL_AUTH_USERNAME={{ graylog_transport_email_auth_username }}
GRAYLOG_TRANSPORT_EMAIL_AUTH_PASSWORD={{ graylog_transport_email_auth_password }}
