[Unit]
Description=Uptime Kuma backup
{% if homelab_failure_notify_enabled | default(false) | bool %}
OnFailure={{ homelab_failure_notify_unit_name | default('homelab-unit-failure@') }}%n.service
{% endif %}

[Service]
Type=oneshot
ExecStart={{ uptime_kuma_backup_scripts_dir }}/uptime-kuma-backup.sh
