HOMELAB_ALERT_TAG="{{ homelab_failure_notify_logger_tag }}"
HOMELAB_ALERT_PRIORITY="{{ homelab_failure_notify_logger_priority }}"
HOMELAB_NTFY_URL="{{ homelab_failure_notify_ntfy_url }}"
HOMELAB_NTFY_TOKEN="{{ homelab_failure_notify_ntfy_token }}"
HOMELAB_NTFY_TIMEOUT="{{ homelab_failure_notify_ntfy_timeout }}"
HOMELAB_NTFY_PRIORITY="{{ homelab_failure_notify_ntfy_priority }}"
HOMELAB_NTFY_TAGS="{{ homelab_failure_notify_ntfy_tags }}"
