{% set daemon = {
  'hosts': docker_daemon_hosts,
  'tls': docker_tls_enabled,
  'tlsverify': docker_tls_verify,
  'tlscacert': docker_cert_dir ~ '/ca.pem',
  'tlscert': docker_cert_dir ~ '/server-cert.pem',
  'tlskey': docker_cert_dir ~ '/server-key.pem'
} %}
{% if docker_dns_servers | default([]) | length > 0 %}
{% set _ = daemon.update({'dns': docker_dns_servers}) %}
{% endif %}
{% if docker_daemon_gelf_address | default('') | length > 0 %}
{% set _ = daemon.update({'log-driver': 'gelf'}) %}
{% set _ = daemon.update({'log-opts': {'gelf-address': docker_daemon_gelf_address, 'tag': '{{.Name}}/{{.ID}}'}}) %}
{% endif %}
{{ daemon | to_nice_json }}
