DB_TYPE={{ n8n_db_type }}
DB_POSTGRESDB_HOST={{ n8n_db_host }}
DB_POSTGRESDB_PORT={{ n8n_db_port }}
DB_POSTGRESDB_DATABASE={{ n8n_db_database }}
DB_POSTGRESDB_SCHEMA={{ n8n_db_schema }}
DB_POSTGRESDB_USER={{ n8n_db_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}
N8N_HOST={{ n8n_host }}
N8N_PORT={{ n8n_published_port }}
N8N_PROTOCOL={{ n8n_protocol }}
WEBHOOK_URL={{ n8n_webhook_url }}
VUE_APP_URL_BASE_API={{ n8n_webhook_url }}
DOMAIN_NAME={{ n8n_domain_name }}
SUBDOMAIN={{ n8n_subdomain }}
GENERIC_TIMEZONE={{ n8n_timezone }}
N8N_SMTP_HOST={{ n8n_smtp_host }}
N8N_SMTP_PORT={{ n8n_smtp_port }}
N8N_SMTP_USER={{ n8n_smtp_user }}
N8N_SMTP_PASS={{ n8n_smtp_pass }}
N8N_SMTP_SENDER={{ n8n_smtp_sender }}
N8N_RUNNERS_ENABLED={{ n8n_runners_enabled | ternary('true', 'false') }}
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS={{ n8n_enforce_settings_file_permissions | ternary('true', 'false') }}
